# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage / linting
.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/

# Environments
.venv/
env/
venv/
.env

# IDEs
.idea/
.vscode/

# Project specific
.python-version
